<h1>Ski Mountain Node.js</h1>

<img src="../images/mountains.jpg"/>

<h2>Mountains</h2>

<div style="display: flex; flex-direction: column">
  {{#each mountains}}
    <p>{{ this.name }}</p>
  {{/each}}
</div>